@font-face {
  font-family: 'LibreFranklin';
  src: url('./fonts/LibreFranklin-VariableFont_wght.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'LibreFranklin-bold';
  src: url('./fonts/LibreFranklin-VariableFont_wght.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Libre Franklin 400';
  src: url('./fonts/LibreFranklin-VariableFont_wght.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Libre Franklin 600';
  src: url('./fonts/LibreFranklin-VariableFont_wght.ttf');
  font-weight: 600;
}

:root {
  --body-text-color: #000000;
  --blue-color: #0f71cb;
  --bg-color: #edf0f4;
  --white-color: #ffffff;
  --partition-color: #dadada;
  --input-bg-color: #f7f7f7;
  --input-border-color: #8e8e8e;
  --input-text-color: #8d8d8d;
  --input-error-color: #d91e18;
}

body {
  margin: 0;
  font-family: 'LibreFranklin', sans-serif !important;
  color: var(--body-text-color) !important;
  font-weight: 300 !important;
  background-image: url(/src/bgNew.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 500px;
}

.logo {
  margin-top: 20px;
}

.profile {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'LibreFranklin-bold', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: 'Libre Franklin 600', sans-serif;
}

.profile-link {
  margin-right: 20px;
  cursor: pointer;
}

.profile-lang {
  margin-right: 10px;
  color: var(--blue-color);
  cursor: pointer;
}

.profile-link a,
.profile-lang a {
  text-decoration: none;
  cursor: pointer;
}

.partition {
  border-right: 2px solid var(--partition-color);
}
.container-row {
  margin: 60px 0;
}

.info {
  border-radius: 0 0 24px 24px;
  height: 200px;
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color);
  box-shadow: 0px 35px 35px 10px rgb(0 0 0 / 20%);
  font-size: 14px;
  padding: 40px;
}

.small-info {
  height: 130px;
}

.container-body {
  padding: 60px 60px 60px 100px;
  border-radius: 24px 24px 0 0;
  background-color: var(--white-color);
  box-shadow: 0px 40px 50px 30px rgba(0, 0, 0, 0.2);
}

.container-registration {
  padding: 60px 0 60px 0;
  border-radius: 24px 24px 0 0;
  background-color: var(--white-color);
  box-shadow: 0px 40px 50px 30px rgba(0, 0, 0, 0.2);
}

.container-body h4 {
  margin-bottom: 60px;
}

.content {
  padding-top: 2.25rem;
  font-size: 16px;
}

.content-items {
  margin-bottom: 20px;
}

.button-section {
  padding-top: 20px;
}

.button-section .button {
  margin: 10px 0;
}
.footer-container {
  padding: 60px 0;
  font-size: 14px;
  font-weight: 300;
}

.header-container {
  margin-bottom: 100px;
}

.check-circle {
  font-size: 20px;
}

.button-icon {
  font-size: 20px;
  margin: 0 5px;
}

.bullet-points {
  padding-left: 1.5rem !important;
}

.nav-link {
  color: var(--body-text-color) !important;
  text-decoration: underline !important;
  font-family: 'LibreFranklin', sans-serif !important;
  font-weight: 300;
}

.lang-sel {
  color: var(--body-text-color);
  border-bottom: 2px solid var(--body-text-color);
}

.stepper-item {
  border-right: 1px solid var(--partition-color);
}

.stepper-item:last-child {
  border: none;
}

.stepper-item .step-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--blue-color);
  color: var(--blue-color);
  line-height: 30px;
  margin-left: 15px;
}

.step-active {
  background-color: var(--blue-color);
  color: var(--white-color) !important;
}

.step-check {
  font-size: 20px;
  color: var(--white-color);
}
.reg-steps {
  margin: 30px 0 60px 0;
}

.step-tick {
  content: '\2713';
  color: var(--white-color);
}

.step-highlight {
  font-size: 24px;
  font-family: 'Libre Franklin 600', sans-serif;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--blue-color);
  color: var(--white-color);
  margin-bottom: 15px;
}

input[type='text'],
input[type='search'],
select {
  background: var(--input-bg-color);
  border-radius: 6px 6px 0px 0px;
  height: 40px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: var(--input-border-color);
  width: 100%;
  color: var(--input-text-color);
  font-size: 16px;
}

.regular-checkbox {
  -webkit-appearance: none;
  border: 2px solid #939393;
  padding: 8px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.regular-checkbox:active,
.regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked {
  border: 2px solid var(--blue-color);
  color: var(--white-color);
  background-color: var(--blue-color);
}

.regular-checkbox:checked:after {
  content: '\2713';
  font-size: 14px;
  position: absolute;
  top: -3px;
  left: 3px;
  color: var(--white-color);
  vertical-align: middle;
}

input[type='text'],
input[type='search'] {
  padding-left: 5px;
}

select {
  text-indent: 5px;
}

textarea {
  background: var(--input-bg-color);
  border-radius: 6px 6px 0px 0px;
  height: 120px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: var(--input-border-color);
  margin: 0 10px;
  width: 100%;
  color: var(--input-text-color);
  font-size: 16px;
}

.head-section {
  margin-bottom: 60px;
}

.btn-group-lg > .btn,
.btn-lg {
  margin: 0 20px;
}
.companydata-form label {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'LibreFranklin-bold', sans-serif;
}

.section-divider {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-family: 'LibreFranklin-bold', sans-serif;
}

.section-divider:before,
.section-divider:after {
  content: '';
  flex: 1 1;
  border-bottom: 2px solid var(--partition-color);
  margin: auto;
}

.section-divider span {
  height: 25px;
  width: 210px;
  margin: 60px 0;
}

.company-hint {
  color: #717171;
  font-size: 12px;
  font-family: 'Libre Franklin 400', sans-serif;
  padding-top: 10px;
}

.form-data {
  margin-bottom: 30px;
}

.form-heading {
  font-size: 18px;
  font-family: 'Libre Franklin 600', sans-serif;
  padding: 30px 0;
}

.calender {
  position: relative;
}
.date-picker input {
  padding-right: 30px;
}

.calender-icon,
.error-icon {
  position: absolute;
  right: 24px;
  top: 42px;
  color: #939393;
}

.user-icon {
  background-color: var(--blue-color);
  background-position: center;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url(/src/vector.png);
  display: block;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.user {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltiptext {
  -webkit-justify-content: center;
  justify-content: center;
  background: #303030;
  border-radius: 4px;
  color: var(--white-color);
  margin: 7px 0 0px -88px;
  font-size: 14px;
  padding: 13px;
  width: 220px;
  position: absolute;
  display: none;
  font-family: 'LibreFranklin-bold', sans-serif;
}

.tooltiptext:before {
  border: solid;
  border-color: #303030 transparent;
  border-width: 0 5px 8px 5px;
  content: '';
  left: 45%;
  top: -8px;
  position: absolute;
}

.user label {
  display: inline-block;
}

.user input {
  display: none;
}

.user input:checked ~ .tooltiptext {
  display: block;
}

.logout {
  text-decoration: underline;
  cursor: pointer;
}

.list-group-cax {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border-radius: 0.25rem;
}

.list-group-item-cax {
  position: relative;
  display: block;
  padding: 0.75rem 1rem;
  color: #191715;
  text-decoration: none;
  background-color: var(--white-color);
  border-top: 1px solid var(--partition-color);
}

.list-group-item-cax:last-child {
  border-bottom: 1px solid var(--partition-color);
}

.list-header {
  background: var(--bg-color);
  border: none;
  font-family: 'LibreFranklin-bold', sans-serif;
}
.send-invite {
  margin-top: 50px !important;
}

.list-group-item-status {
  text-align: right;
  font-size: 14px;
  color: #5c8d45;
  font-weight: 500;
  line-height: 20px;
  font-family: 'LibreFranklin-bold', sans-serif;
  padding: 0 !important;
}

.list-group-item-email {
  color: #252525;
  font-size: 16px;
  font-family: 'Libre Franklin 400', sans-serif;
}

.list-group-item-role {
  display: flex;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #676bc6;
  text-align: left;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  background: #f2f3fb;
  height: 32px;
  width: max-content;
}

.list-group-item-role:not(:last-child) {
  margin-bottom: 0.25rem !important;
}

.pending-status {
  color: #888888;
}

.button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 20px;
  margin-bottom: 10px;
  font-family: 'LibreFranklin-bold', sans-serif;
  font-size: 16px !important;
}

.info .button {
  margin: 0 10px;
}

.btn-default {
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
  background-color: transparent;
}

.btn-primaryCax {
  color: var(--white-color);
  background-color: var(--blue-color) !important;
}

.btn-disabledCax {
  color: var(--white-color);
  background-color: #adadad !important;
  cursor: default;
}

.error label {
  color: var(--input-error-color);
}

.error input[type='text'],
.error input[type='search'],
.error select {
  border-color: var(--input-error-color);
}

.error-message {
  color: var(--input-error-color);
  font-size: 12px;
  font-family: 'Libre Franklin 400', sans-serif;
  padding-top: 10px;
}

.calender .error-icon {
  visibility: hidden;
}

.error .error-icon {
  color: var(--input-error-color);
  visibility: visible;
}

.stepper-item {
  position: relative;
}

.step-border {
  position: absolute;
  border-bottom: 2px solid var(--blue-color);
  top: 3em;
  left: 1.2em;
}

.company-role-section {
  background-image: linear-gradient(
    to right,
    var(--partition-color) 0%,
    var(--partition-color) 50%,
    transparent 50%
  );
  background-size: 28px 1px;
  background-repeat: repeat-x;
  padding: 30px 0;
}

.company-role-section:first-child {
  background-image: none;
  background-repeat: no-repeat;
  padding: 0 0 30px 0;
}

.companyRoleVisible {
  display: block;
}

.companyRoleHidden {
  display: none;
}

.companyRoleTnc ul {
  list-style-type: none;
  padding-left: 0;
}

.companyRoleTnc .regular-checkbox {
  margin-right: 1rem;
  padding: 6px;
}

.companyRoleTnc li {
  padding: 5px 0;
}

.companyRoleTnc .regular-checkbox:checked:after {
  left: 1px;
  top: -5px;
}

.underlineTnc {
  text-decoration: underline;
  color: var(--blue-color);
  cursor: pointer;
}

.registration-header {
  margin-bottom: 100px;
}

.selected-file-wrapper {
  text-align: center;
}

.selected-file {
  color: var(--body-text-color);
  font-weight: bold;
}

#tooltipBtn {
  width: 23em;
  word-break: break-word;
}

.registration-close-content {
  flex: 1;
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 50px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 20%);
}

.dropzone-overview-files {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.dropzone-overview-file {
  width: 90%;
  padding: 10px 0px 10px 65px;
  background-image: url('data:image/svg+xml,%3Csvg width=%2748%27 height=%2758%27 viewBox=%270 0 48 58%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M28 13V15H39V13H28Z%27 fill=%27%23939393%27/%3E%3Cpath d=%27M28 23H39V25H28V23Z%27 fill=%27%23939393%27/%3E%3Cpath d=%27M9 33V35H39V33H9Z%27 fill=%27%23939393%27/%3E%3Cpath d=%27M9 43H39V45H9V43Z%27 fill=%27%23939393%27/%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M9 12V26H23V12H9ZM11 24V14H21V24H11Z%27 fill=%27%23939393%27/%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M3 0C1.34315 0 0 1.34314 0 3V55C0 56.6569 1.34314 58 3 58H45C46.6569 58 48 56.6569 48 55V3C48 1.34315 46.6569 0 45 0H3ZM2 3C2 2.44771 2.44771 2 3 2H45C45.5523 2 46 2.44771 46 3V55C46 55.5523 45.5523 56 45 56H3C2.44772 56 2 55.5523 2 55V3Z%27 fill=%27%23939393%27/%3E%3C/svg%3E%0A');
  background-repeat: no-repeat no-repeat;
  background-position: left 14px center;
  background-size: 40px auto;
}

.dropzone-overview-file-name {
  width: max-content;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.dropzone-overview-file-status {
  width: max-content;
  font-size: 10px;
}

.progress {
  display: flex;
  margin-top: 10px;
  height: 4px !important;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #0d6efd;
  transition: width 0.6s ease;
}

.bg-success {
  background-color: rgba(25, 135, 84, 1) !important;
}
.dropzone-overview-remove {
  width: 10%;
  padding-top: 20px;
  background-image: url('data:image/svg+xml,%3Csvg width=%2714%27 height=%2718%27 viewBox=%270 0 14 18%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M1 16C1 17.1 1.9 18 3 18H11C12.1 18 13 17.1 13 16V4H1V16ZM3 6H11V16H3V6ZM10.5 1L9.5 0H4.5L3.5 1H0V3H14V1H10.5Z%27 fill=%27%23939393%27/%3E%3C/svg%3E%0A');
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  cursor: pointer;
}

.footer-content {
  min-height: 400px;
}

.agreement-li {
  list-style: none;
}

.agreement-check {
  margin: 5px;
}

.input-search {
  margin: 50px 0px !important;
  position: relative;
}

.input-search::before {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAQJJREFUKBWVkr2uQUEUhf3ET6GRaC5aFRoJKrf1BKpb8SwqovYGXkCj00k0QnRKEYkILYobvpUYmeMMyVnJl7P3mjN7Zu9zwiGv2qRFyMMSRrAFp6JPN8XzBj+wgDkUYAg7WINTYdwpDECxrRLJHeq2accdkgm8bzTvNAg2EDOGeUYI1KNO1gkuzTA1g8T7ojbn4ONQWPuHPWgeHmnzCqoe15tkSNPgPEAn68oVcOmA2XMtGK9FoE/VhOTTVNExqLCGZnxCv2pYauEC6lF0oQxX6IOvb7yX9NPEQafan+aPXDdQC18LsO6Tip5BBY6gIQaSbnMCFRCBZRcIvFkbsvCr4AFGOCxQy+JdGQAAAABJRU5ErkJggg==);
  position: absolute;
  top: 10px;
  left: 20px;
  opacity: 0.6;
}

.input-search > input {
  padding: 0px 10px 0px 30px;
}

.data-section {
  margin-top: -14% !important;
}

.help-section {
  height: 600px;
  overflow: auto;
  padding: 50px 50px 0px 30px !important;
  border-radius: 24px;
}

.help-menu {
  padding: 0 !important;
  text-decoration: none !important;
  font-size: 16px;
}

.help-menu:before {
  content: '\2B9A';
  font-size: 16px;
  padding-right: 10px;
}

.selected {
  font-weight: bold;
  color: white;
}

.answer {
  padding: 10px 0px 40px 0px;
}

.dragdrop-subtitle {
  font-size: 1.2rem;
  margin-top: 0.3rem;
}

.dragdrop-subtitle span {
  color: #0f71cb;
  text-decoration: underline;
}
