.wrapper {
  height: 100%;
  width: 100%;
  text-align: center;
}

.wrapper img {
  width: 200px;
  margin: 50px auto 0;
}

.pageBody {
  padding-top: 20vh;
}

.infoContent {
  display: flex;
  flex: 1;
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 100px 50px;
  border-radius: 25px;
}

.infoBackground {
  width: 100%;
  height: auto;
  padding: 100px 0;
  background-image: url(assets/catena-background.svg);
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
}

.infoContent div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.infoContent h1 {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.infoContent span {
  font-size: 20px;
  font-weight: bolder;
}
